   // If you want to override materialize sass variables you can uncomment the following:
// @import "{poetic:materialize-scss}/sass/components/_color.scss";
// $primary-color: color("blue", "lighten-2");

// import main scss file
@import "{poetic:materialize-scss}/sass/materialize.scss";

/* Universial SCSS declarations go here */
.brand-logo {
  margin: 0 10px 0 10px;
}
.brand-logo img{
  height: 28px;
  margin-right: 10px;
}
.brand-discoverImage img{
  height: 100px;
}